.auth-login {
    background: white;
    padding: 94px 0;
    min-height: 1000px;
}

.auth-login-container {
    max-width: 768px;
}

.auth-login-form {
    .form-title {
        font-family: "SFProDisplay", "San Francisco", sans-serif;
        font-size: 42px;
        font-weight: bold;
        color: #444444;
    }

    .reset-password-cta {
        font-family: HelveticaNeue;
        font-size: 18px;
        font-weight: bold;
        color: #4a90e2;
    }

    .form-group {
        label {
            color: #444444;
            font-family: HelveticaNeue;
            font-size: 18px;
            font-weight: bold;
        }

        input[type=checkbox] {
            font-size: 24px;
            margin-top: 6px;
        }

        input {
            border: 0 none;
            border-bottom: solid 2px #cccccc;
            border-radius: 0;
            font-family: HelveticaNeue;
            font-size: 18px;
            margin-top: 0.5rem;

            &:focus {
                border-color: #26B4FF !important;
                box-shadow: none !important;
            }

            &.is-invalid {
                border-color: #d9534f !important;
            }
        }

        .error {
            height: 25px;
            margin-top: 0.25rem;

            .invalid-feedback {
                display: block;
                margin: 0;
            }
        }
    }

    .login-cta-element {
        cursor: pointer;

        i {
            margin-right: 1rem;
        }

        .login-cta-labels {
            .login-cta-label-desc {
                font-family: "SFProDisplay", "San Francisco", sans-serif;
                opacity: 0.6;
                font-size: 16px;
                font-weight: 500;
                color: #000000;
            }

            .login-cta-label {
                font-family: "SFProDisplay", "San Francisco", sans-serif;
                font-size: 24px;
                font-weight: 500;
                color: #000000;
            }
        }
    }
}
.login-cta-element {
    background-color: transparent !important;
    border: 0 !important;
}

.d-flex button:focus {
    outline: 1px dotted;
    outline: none;
}
@media only screen and (min-width : 321px) {
    .d-flex{
        padding-bottom: 13px;
        padding-left: 0;
    }
}
.sweet-modal{
    padding-top: 22px !important;
}
.sweet-modal .sweet-box-actions .sweet-action-close:hover {
    background: #ffe100 !important;
}